.signup-container {
  background-image: url("../signup-img/3557a5e1c942b53.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh; 
  margin-top: 90px;
  position: relative;
}

.wrap-form {
  position: absolute;
  top: 10vh;
  left: 5vw;
  background-color: rgba(44, 230, 126, 0.5);
  width: 30%;
  padding: 30px 30px;
}

.wrap-field input, .wrap-field select{
  width: 100%;
  padding: 8px 10px;
}

.wrap-field select:invalid {
  color: gray;
}

.wrap-field select option {
  color: black;
}

.form-title {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.signup-error {
  font-size: 14px;
  line-height: 15px;
  height: 15px;
  margin: 3px 0;
  font-weight: bold;
  color: #000000;
}

.wrap-smt input, .wrap-bnt a div {
  background-color: white;
  padding: 5px 20px;
  width: 80%;
  border: none;
  cursor: pointer;
}