.wrap-content-contact {
  background: url("../index-img/footer/background-footer.jpg");
  margin-top: 85px;
  padding: 50px 5vw;
  text-align: center;
}

.wrap-info1 {
  margin: 10px auto;
  width: 100%;
  background-color: #F8F3EA;
  padding: 30px;
}

.title-info1 {
  font-family: 'Noto Serif', serif;
  margin: 30px 0;
  font-size: 40px;
}

.content-info1 {
  color: #7F7F7F;
  font-family: 'Playfair Display', serif;
  margin: 30px 0;
}

.phone-info1 {
  color: #7B6852;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
}

.img-info2 {
  width: 100%;
}

.wrap-info2 {
  margin: 50px 0;
  text-align: left;
}

.title-info2 {
  font-family: 'Noto Serif', serif;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.head-info2 {
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  color: #8E755C;
  margin: 0 0 20px 0;
}

.wrap-sub-content-info2 {
  font-size: 17px;
  font-family: 'Noto Serif', serif;
  color: #587877;
}

.address-info2 {
  margin-bottom: 1rem;
  color: #8E755C;
}

.address-info2 p, .contact-info2 p {
  margin: 0;
}

.hightlight-info2 {
  color: #8E755C;
}

@media (max-width: 1200px) {
  .head-info2 {
    font-size: 16px;
  }

  .wrap-sub-content-info2 {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .wrap-content-contact {
    margin-top: 0;
  }

  .title-info2 {
    margin: 20px 0;
  }

  .head-info2 {
    font-size: 17px;
  }

  .wrap-sub-content-info2 {
    font-size: 16px;
  }
}