.top-deco-content1 {
  background-image: url("../index-img/content1/home_pizza2_decoration1.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 6px;
  margin-top: -6px;
  position: relative;
}

.bottom-deco-content1 {
  background-image: url("../index-img/content1/home_pizza2_decoration2.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 6px;
  margin-bottom: -6px;
  position: relative;
}

.wrap-content1 {
  width: 100%;
  background-image: url("../index-img/footer/background-order.jpg");
  /* padding: 0 !important; */
}

.info1-content1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #876C51;
  font-weight: bold;
}

.info2-content1 {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: #888787;
}

.tomato-pic-content1 {
  width: 90%;
  max-width: 446px;
}

.wrap-img-content1 {
  overflow: hidden;
  width: 75%;
}

.img-content1 {
  width: 100%;
  transition-duration: .5s;
}

.img-content1:hover {
  transform: scale(1.2); 
}

.title1-info1 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.wrap-title-img {
  padding: 20px 5px;
  background-color: #F8F3EA;
  border: 1px solid #ACA297;
  text-align: center;
  width: 75%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: #626065;
}

@media (max-width: 500px) {
  .wrap-title-img {
    font-size: 25px;
  }
  .info2-content1, .title1-info1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 368px) {
  .wrap-title-img {
    font-size: 18px;
  }
}