.type-pizza, .pizza-size, .pizza-slice, .pizza-price, .pizza-name {
  text-transform: uppercase;
  color: #012333;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.wrap-pizza-type {
  margin: 15px 10px;
  padding: 15px 0;
  border-bottom: 2px dotted #012333;
}

.pizza-slice {
  font-size: 13px;
}

.pizza-price {
  font-size: 25px;
}

h6 {
  margin: 0;
}

.pizza {
  width: 28%;
  float: left;
  margin: 15px;
  max-width: 360px;
  transition-duration: .4s;
  border-radius: 5px;
  padding: 5px 10px 15px 10px;
}

.pizza:hover {
  background-color: #012333;
}

.pizza:hover .pizza-name, .pizza:hover .pizza-descrpt  {
  color: white;
}

.pizza:hover .bnt-add-to-cart {
  background-color: #B6142C;
}

.pizza-img {
  width: 100%;
}

.wrap-menu {
  width: 100%; 
  margin: 0 !important; 
  padding: 20px 30px;
}

.pizza-name {
  font-size: 20px;
  margin-top: 15px;
  transition-duration: .4s;
  height: 8.5vh;
}

.pizza-descrpt {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin: 15px 0;
  color: #012333;
  transition-duration: .4s;
  height: 40%;
  height: 10vh;
}

.bnt-add-to-cart {
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color: white;
  padding: 10px 20%;
  background-color: #012333;
  border-radius: 5px;
  font-size: 15px;
  transition-duration: .4s;
}

.bnt-add-to-cart:hover {
  background-image: linear-gradient(to right, #400B13, #B6142C);
}

.title-menu {
  justify-content: center;
  font-size: 55px;
  color: #C68225;
  font-family: 'Shrikhand', cursive;
  text-transform: uppercase;
}

@media (max-width: 1160px) {
  .pizza-price {
    font-size: 20px;
  }
  .pizza-size {
    font-size: 15px;
  }
  .pizza-slice {
    font-size: 12px;
  }
  .type-pizza {
    font-size: 25px;
  }
}

@media (max-width: 1025px) {
  .pizza-price {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .wrap-menu {
    padding: 20px 10px;
  }
  .bnt-add-to-cart {
    font-size: 13px;
  }
  .pizza-price {
    font-size: 20px;
  }
  .type-pizza {
    font-size: 30px;
  }
  .pizza-name {
    font-size: 18px;
  }
  .title-menu {
    font-size: 50px;
  }
}

@media (max-width: 668px) {
  .pizza {
    width: 40%;
  }
  .bnt-add-to-cart {
    font-size: 12px;
  }
  .pizza-name {
    font-size: 16px;
  }
}

@media (max-width: 406px) {
  .bnt-add-to-cart {
    font-size: 10px;
  }
  .pizza-name {
    font-size: 14px;
  }
  .pizza-descrpt {
    font-size: 12px;
  }
  .title-menu {
    font-size: 45px;
  }
}